
.main-container {
    display: flex;
    flex-direction: row;
    gap:1em;
}

.main-container img {
    width: 600px;
}

.done {
    text-decoration: line-through;
    color:grey;
    cursor: pointer;
}



